In [1]:
import pandas as pd

In [2]:
order = pd.read_csv('e:/91APP/Ntu_Orders.csv')
ecoupon = pd.read_csv('e:/91APP/Ntu_DataSet/Ntu_1317_Ecoupon.txt', sep = '\t')
member = pd.read_csv('e:/91APP/Ntu_DataSet/Ntu_1317_Member.txt', sep = '\t', low_memory=False )
promotion = pd.read_csv('e:/91APP/Ntu_DataSet/Ntu_1317_Promotion.txt', sep = '\t')
promotionorders = pd.read_csv('e:/91APP/Ntu_DataSet/Ntu_1317_PromotionOrders.txt', sep = '\t', low_memory=False )

In [3]:
order.head()

,SalesOrderSlaveId,DateId,MemberId,TradesOrderSlaveId,ShopId,SalePageId,TradesOrderGroupCode,TrackSourceTypeDef,TrackChannelTypeDef,TrackDeviceTypeDef,...,UnitPrice,PromotionDiscount,EcouponDiscount,SalesOrderSlaveTotalPayment,SalesOrderSlaveDateTime,SalesOrderSlaveStatusDef,PayProfileTypeDef,ShippingProfileTypeDef,EcouponId,IsSalePageGift
0,26914456,20170103,48D5DE26-236E-4854-8474-B0DCEAFF4F42,26971960,1317,9804,b'q\x14\xa49\xaa\\\xecs\xff6wH\xfbXd\x93\xfbf\...,Web,Brand,Mobile,...,399.0,-25.0,0.0,374.0,2017-01-03 23:11:47.207,Finish,SevenEleven,SevenEleven,NaN,False
1,26914457,20170103,48D5DE26-236E-4854-8474-B0DCEAFF4F42,26971961,1317,9804,b'q\x14\xa49\xaa\\\xecs\xff6wH\xfbXd\x93\xfbf\...,Web,Brand,Mobile,...,399.0,-25.0,0.0,374.0,2017-01-03 23:11:47.223,Finish,SevenEleven,SevenEleven,NaN,False
2,26767644,20170101,C8B989DB-05F9-42D3-BD4F-E203482C5E58,26825136,1317,10118,b'\x1d\x8f}\x12lu>.&\xfc\xbc\xe0\xd2\xad\xe5\x...,Web,Brand,Mobile,...,350.0,-34.0,0.0,316.0,2017-01-01 17:21:32.113,Finish,Family,Family,NaN,False
3,26780512,20170101,C39E36F7-5091-48DA-BE8F-8CE043E009EE,26837997,1317,10036,"b'&QI#u)\xf8\xf7\n6\x01~\xd1\xf3,\x1f\xb8\xe3\...",Web,Brand,Mobile,...,540.0,-57.0,0.0,483.0,2017-01-01 21:41:58.153,Finish,Family,Family,NaN,False
4,26823950,20170102,7D87099A-B49C-4136-A8E9-F76BB5588B19,26881442,1317,10268,b'\xfd\x0b\x9ee\xdc\xaea@\x102;jX\xfek\x99m\x1...,Web,Brand,Mobile,...,445.0,-44.0,0.0,401.0,2017-01-02 15:37:33.610,Finish,Family,Family,NaN,False

In [4]:
member.head()

,ShopId,MemberId,Recency,Frequency,Monetary,Birthday,GenderTypeDef,LocationCity,LocationState,LocationCountry,...,AnnualIncomeTypeDef,RegisterDateTime,RegisterSourceTypeDef,ValidFlag,MinOrderDate,MaxOrderDate,IsAppInstalled,IsInBlackList,MinAppOpenDateTime,MaxAppOpenDateTime
0,1317,88812F54-9F19-49C0-BC77-86065C356D26,251,3,4011.0,1980-08-08,Female,NaN,台中市,台灣,...,NaN,2015-09-18 19:18:48.050,iOSApp,1,2015-09-18,2017-05-02,有,NaN,2015-09-18 18:45:35.707,2017-07-30 21:30:34.940
1,1317,AB3232A1-03C6-4425-8062-EEECB633FB5A,-1,0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-03-13 01:11:05.403,Web,1,1900-01-01,NaN,NaN,NaN,NaN,NaN
2,1317,CC63B70D-CD6D-4538-BDDE-4B293F95A654,659,1,529.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-03-20 02:20:35.493,Web,1,2016-03-20,2016-03-20,NaN,NaN,NaN,NaN
3,1317,17ED6C4D-0B91-4EB4-9992-117E9440425D,56,3,2438.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-06-02 22:16:47.363,Web,1,2017-06-02,2017-10-27,NaN,NaN,NaN,NaN
4,1317,1BA9F6E3-67FD-4AAF-8011-2CBEA98B4828,717,1,550.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-01-22 14:46:30.040,Web,1,2016-01-22,2016-01-22,有,NaN,2016-01-22 14:50:32.173,2017-02-21 05:51:05.080

In [5]:
promotion.head()

,PromotionId,PromotionStartDateTime,PromotionEndDateTime,PromotionValidFlag,DiscountType
0,1,2015-05-06 09:00:00.000,2015-05-29 11:00:00.000,0,NaN
1,2,2015-05-21 18:00:00.000,2015-05-21 19:00:00.000,0,NaN
2,3,2015-06-02 16:00:00.000,2015-07-10 13:00:00.000,1,任選優惠價
3,4,2015-06-02 17:00:00.000,2015-07-30 11:00:00.000,1,任選優惠價
4,5,2015-06-02 17:00:00.000,2015-07-10 13:00:00.000,1,任選優惠價

In [6]:
promotionorders.head()

,PromotionId,SalesOrderSlaveId,SalesOrderSlavePromotionDiscount,SalesOrderSlavePromotionDiscountRate,SalesOrderSlavePromotionDiscountAllocated,SalesOrderSlavePromotionDiscountAllocatedQty,SalesOrderSlavePromotionValidFlag
0,205,48421018,0.0,0.0,0.0,1,1
1,205,48421119,0.0,0.0,0.0,1,1
2,205,48421121,0.0,0.0,0.0,1,1
3,205,48421295,0.0,0.0,0.0,1,1
4,205,48421298,0.0,0.0,0.0,1,1

In [7]:
ecoupon.head()

,EcouponId,EcouponTypeDef,EcouponPurposeDef,ECouponStartDateTime,ECouponEndDateTime,ECouponDiscountPrice,ECouponTotalQty,ECouponQtyLimit,ECouponTotalGiftLimit,ECouponValidFlag,ECouponIsAppDrawOut,ECouponIsWebDrawOut,ECouponMaxDiscountLimit
0,1,Gift,Marketing,2014-07-21 08:00:00.000,2014-08-03 23:59:00.000,100.0,150000,0,50,1,1,0,0.3
1,2,Gift,Marketing,2014-08-05 14:00:00.000,2014-08-17 23:59:00.000,100.0,150000,0,50,1,1,0,0.3
2,3,Code,Marketing,2014-08-21 17:00:00.000,2014-08-31 23:30:00.000,100.0,30,0,0,1,1,0,0.3
3,4,Code,Marketing,2014-09-02 16:00:00.000,2014-09-30 23:59:00.000,100.0,1,1500,0,1,1,0,0.3
4,5,Code,Marketing,2014-09-10 20:00:00.000,2014-09-21 23:30:00.000,100.0,1,60,0,1,1,1,0.3

In [8]:
om = pd.merge(order, member, on = 'MemberId', how = 'left')
ome = pd.merge(om, ecoupon, on = 'EcouponId', how = 'left')
ome_po = pd.merge(ome, promotionorders, on = 'SalesOrderSlaveId', how = 'left')
df = pd.merge(ome_po, promotion, on = 'PromotionId', how = 'left')

In [9]:
df['new_DateId'] = pd.to_datetime(df['DateId'].astype(str), format='%Y%m%d')
df['new_DateId'].head()

0   2017-01-03
1   2017-01-03
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: new_DateId, dtype: datetime64[ns]

In [10]:
member.loc[:,['Recency','Frequency','Monetary']]

        Recency  Frequency  Monetary
0           251          3    4011.0
1            -1          0       0.0
2           659          1     529.0
3            56          3    2438.0
4           717          1     550.0
5            13          3    2651.0
6            -1          0       0.0
7            -1          0       0.0
8           190          1    1174.0
9            -1          0       0.0
10           -1          0       0.0
11          165          2    2508.0
12           36          9   13489.0
13           -1          0       0.0
14           -1          0       0.0
15          481          1     693.0
16          588          1     747.0
17           -1          0       0.0
18          359          1    2108.0
19          649          1     948.0
20           -1          0       0.0
21          273          2    2774.0
22          467          1     783.0
23           -1          0       0.0
24           -1          0       0.0
25          180          1    1230.0
26           59          1     730.0
27           -1          0       0.0
28           -1          0       0.0
29           93          3     752.0
...         ...        ...       ...
815762      824          2    1724.0
815763      887          1     849.0
815764      131          4    1169.0
815765      257          1     859.0
815766      206          1    1083.0
815767       -1          0       0.0
815768       -1          0       0.0
815769       -1          0       0.0
815770       -1          0       0.0
815771       10          2    2545.0
815772      787          1    1013.0
815773      268          1     199.0
815774       -1          0       0.0
815775       -1          0       0.0
815776      371          1    1038.0
815777      374          2    3224.0
815778       -1          0       0.0
815779       -1          0       0.0
815780      613          1    1443.0
815781       -1          0       0.0
815782       -1          0       0.0
815783       -1          0       0.0
815784      217          3    3243.0
815785       -1          0       0.0
815786      599          2    1115.0
815787      292          1    1166.0
815788       -1          0       0.0
815789       -1          0       0.0
815790       -1          0       0.0
815791       -1          0       0.0

[815792 rows x 3 columns]

In [11]:
df = df.loc[df['LocationCountry'].isin(['TW', '台北', '台我', 'tiwan', '花蓮縣', '台灣地區', '️Taiwan', 'Taipei', '中華民國臺灣', '中華民國台灣', 'Taiwan ', 't', 'Tw', 'Taiean', '台灣台南市',  '臺灣 ', '太晚', '雲林縣', '🇹🇼', '台灣人', 'Taiwam', 'tw', 'Taiwan', 'T', '臺北', '桃園', ' 台灣', '台灣',  '.臺灣', 'TAIWAN',  'Tawian', 'Taiwain', 'ROC', '中華民國', 'taiwan', 'taiwan ', '台灣省', '臺灣', '台碗', '澎湖縣', '台灣吧', '新北市', '臺灣省', '中華民國 臺灣', '台湾', '台彎']),:]

In [12]:
rfmTable = df.loc[:,['MemberId','Recency','Frequency','Monetary']]

In [13]:
rfmTable.head()

                               MemberId  Recency  Frequency  Monetary
0  48D5DE26-236E-4854-8474-B0DCEAFF4F42    235.0        4.0    7455.0
1  48D5DE26-236E-4854-8474-B0DCEAFF4F42    235.0        4.0    7455.0
2  C8B989DB-05F9-42D3-BD4F-E203482C5E58    178.0        2.0    4553.0
8  6B11D879-C56E-4057-A6A0-45C30732F542    282.0        3.0    2281.0
9  249FEB46-134C-4DE3-902D-73D289D130DB      4.0        7.0    6743.0

In [14]:
quantiles = rfmTable.quantile(q=[0.20,0.40,0.60,0.80])
quantiles

     Recency  Frequency  Monetary
0.2     20.0        2.0    2029.0
0.4     48.0        3.0    3948.0
0.6     82.0        5.0    6807.0
0.8    198.0        9.0   12544.0

In [15]:
quantiles = quantiles.to_dict()
quantiles

{'Frequency': {0.2: 2.0, 0.4: 3.0, 0.6: 5.0, 0.8: 9.0},
 'Monetary': {0.2: 2029.0, 0.4: 3948.0, 0.6: 6807.0, 0.8: 12544.0},
 'Recency': {0.2: 20.0, 0.4: 48.0, 0.6: 82.0, 0.8: 198.0}}

In [16]:
rfm = rfmTable

In [17]:
def RClass(x,p,d):
    if x <= d[p][0.20]:
        return 1
    elif x <= d[p][0.40]:
        return 2
    elif x <= d[p][0.60]: 
        return 3
    elif x <= d[p][0.80]: 
        return 4
    else:
        return 5
    
def FMClass(x,p,d):
    if x <= d[p][0.20]:
        return 5
    elif x <= d[p][0.40]:
        return 4
    elif x <= d[p][0.60]:
        return 3
    elif x <= d[p][0.80]: 
        return 2
    else:
        return 1

In [18]:
rfm['R_Quartile'] = rfm['Recency'].apply(RClass, args=('Recency',quantiles,))
rfm['F_Quartile'] = rfm['Frequency'].apply(FMClass, args=('Frequency',quantiles,))
rfm['M_Quartile'] = rfm['Monetary'].apply(FMClass, args=('Monetary',quantiles,))

In [19]:
rfm['RFMClass'] = rfm.R_Quartile.map(str) \
                            + rfm.F_Quartile.map(str) \
                            + rfm.M_Quartile.map(str)

In [20]:
rfm.head()

,MemberId,Recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFMClass
0,48D5DE26-236E-4854-8474-B0DCEAFF4F42,235.0,4.0,7455.0,5,3,2,532
1,48D5DE26-236E-4854-8474-B0DCEAFF4F42,235.0,4.0,7455.0,5,3,2,532
2,C8B989DB-05F9-42D3-BD4F-E203482C5E58,178.0,2.0,4553.0,4,5,3,453
8,6B11D879-C56E-4057-A6A0-45C30732F542,282.0,3.0,2281.0,5,4,4,544
9,249FEB46-134C-4DE3-902D-73D289D130DB,4.0,7.0,6743.0,1,2,3,123

In [21]:
rfm[rfm['RFMClass']=='111'].sort_values('Monetary', ascending=False)

,MemberId,Recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFMClass
1871729,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2983544,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
3048409,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2983543,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
1509886,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
1009395,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
1009394,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
1009392,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2860154,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2983545,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2696151,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2983546,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2877444,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2877445,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2877446,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2860155,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2517594,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2983547,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2983542,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2008234,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2008235,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
1074559,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2499251,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2499258,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2499259,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2499261,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
405085,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
1951702,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
400938,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
2877442,AD1BFCAA-93DD-494B-AAAF-2398A1654903,1.0,96.0,139617.0,1,1,1,111
...,...,...,...,...,...,...,...,...
1487890,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2912546,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
677242,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
239761,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2916658,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2554316,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2554315,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
9439,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1502906,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1502907,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1673057,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2854721,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1454053,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1454052,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1487887,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
215747,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
215751,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1614266,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1872045,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2631773,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2915152,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
215737,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2554314,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2631772,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
2626395,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1719733,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1096211,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1096212,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
1719734,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111
3036239,A37C1164-CDC2-441C-AC6E-0AAE529725F4,20.0,13.0,12573.0,1,1,1,111

In [22]:
def classifier(row):
    if row['RFMClass']=='555':
        return '重要價值客戶'
    elif row['RFMClass']=='155':
        return '重要喚回客戶'
    elif row['RFMClass']=='515':
        return '重要深耕客戶'
    elif row['RFMClass']=='115':
        return '重要挽留客戶'
    elif row['RFMClass']=='511':
        return '新客戶'
    elif row['RFMClass']=='111':
        return '流失客戶'
    else:
        return 'other'

In [23]:
rfm['newclass'] = rfm.apply(classifier, axis=1)

In [24]:
set(rfm['newclass'])

{'other', '新客戶', '流失客戶', '重要價值客戶', '重要喚回客戶'}

In [25]:
print(rfm.loc[rfm['newclass']!='other',['MemberId', 'newclass']])

                                     MemberId newclass
34       19690996-39DC-4FE4-9A4D-C883068022DF   重要喚回客戶
121      FEF6C3D1-B6B9-4878-A47E-3C76E400C4BA   重要喚回客戶
122      FEF6C3D1-B6B9-4878-A47E-3C76E400C4BA   重要喚回客戶
179      3C97B66B-583A-4E18-BC2C-5B527ED9685F   重要喚回客戶
180      21C23A8B-4B7C-41C2-9134-11D80B7DABBC   重要喚回客戶
187      3C97B66B-583A-4E18-BC2C-5B527ED9685F   重要喚回客戶
190      3C97B66B-583A-4E18-BC2C-5B527ED9685F   重要喚回客戶
263      FE003728-5D87-49C9-9529-D2948962DF97   重要喚回客戶
281      35B04A5B-78F3-4DFE-AB14-8F41E265D40C   重要喚回客戶
296      4463D967-FA8E-4051-87B0-F0FC2D2E19F1   重要喚回客戶
297      37B77E1B-CF77-4AB3-80B1-0220FCA5F19E   重要喚回客戶
330      9939BE38-F33F-4917-8FE1-D4EE77A55136     流失客戶
347      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
348      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
349      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
350      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
351      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
352      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
353      42C9A897-F473-4D6A-A498-758A5620CD80     流失客戶
379      B81520F7-9D82-48EF-9EFF-D4F063B5F0C3     流失客戶
380      B81520F7-9D82-48EF-9EFF-D4F063B5F0C3     流失客戶
381      B81520F7-9D82-48EF-9EFF-D4F063B5F0C3     流失客戶
469      D7F4698A-B699-4368-AF37-FDA5C9B72B06     流失客戶
492      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
493      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
494      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
495      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
496      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
497      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
498      6B3A9621-68A3-4AAD-AF94-06EB5509F1E9   重要喚回客戶
...                                       ...      ...
3053051  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053052  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053053  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053054  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053055  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053056  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053057  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053058  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053059  A58836FF-1CDA-469A-B422-3017C9A17A5F     流失客戶
3053085  9F7267AE-9650-4880-83E7-AF6072027798   重要喚回客戶
3053086  9F7267AE-9650-4880-83E7-AF6072027798   重要喚回客戶
3053087  9F7267AE-9650-4880-83E7-AF6072027798   重要喚回客戶
3053088  9F7267AE-9650-4880-83E7-AF6072027798   重要喚回客戶
3053089  7B265442-B681-4E0E-8BE3-5BA0F6410708   重要喚回客戶
3053136  FEF7B795-CAA4-4348-88F7-90F6E6B0367E   重要喚回客戶
3053137  FEF7B795-CAA4-4348-88F7-90F6E6B0367E   重要喚回客戶
3053139  46315ED7-AC7F-4321-BBB7-1396D3682FC4   重要喚回客戶
3053140  46315ED7-AC7F-4321-BBB7-1396D3682FC4   重要喚回客戶
3053141  46315ED7-AC7F-4321-BBB7-1396D3682FC4   重要喚回客戶
3053154  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053155  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053156  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053157  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053158  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053159  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053160  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053161  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053162  63A695C9-B59E-4CF8-BE46-741E6A8B9A10     流失客戶
3053163  466CD84F-3DE4-49A8-950C-A0CF900B11C1   重要喚回客戶
3053202  CA10C3CF-335E-4E1C-BD3A-5A666D455D3F   重要喚回客戶

[213160 rows x 2 columns]